body {
  font-family: 'Roboto', sans-serif;
}

i {
  font-size: 2em;
  color: purple;
}

.about {
  position: absolute;
  z-index: -1000;
    left: 50px; /* from the left, in the opposite direction 50 pixels */
    width: 500px;
    height: 500px;
    border: 2px red solid;
    padding: 50px;
    margin: 25px;
    box-shadow: 5px 10px black;
    background-color: rgba(255,0,0,0.5);
    box-sizing: border-box;
}

img {
  float: left;
  /*visibility: hidden;*/
  display: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
}


a {
  text-decoration: none;
}

a:visited {
  color: red;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: cyan;
}
